{% extends 'layout.html' %} 

{% block content  %}
<h1 class="d-flex align-items-center justify-content-center">Posts</h1>

<p>
    {% for post in posts %}
        
    <div class="card card-body bg-black p-2 m-3 ">
        <div class="row">
            <div class="col-md-3">
                <img class="img-fluid"  src="{{post.image.url}}" alt="">
            </div>
    
            <div class="col-md-9 my-auto">
                <div style="text-align: center;">
                    <h2>
                        {{post.title}}
                    </h2>
            
                    <p>
                        {{post.description|truncatechars:100}} <strong>{{post.date}}</strong>
                    </p>
            
                    <a class="btn btn-primary" href="{% url  'blog:post_detail' post.id %}">{{post.title}}</a>
                </div>
            </div>
    
        </div>
    </div>


    {% endfor %}
</p>

{% endblock  %}


